# M03 Exercises

DS 5100 | Fall 2022

## Example 3.1

What prints in the example below if `val = 5`? How would you fix the problem?

In [14]:
val = -2
if (-10 < val < -5):
    print('bucket 1')
elif (-5 <= val < -2):
    print('bucket 2')
elif val == -2:
    print('bucket 3')

bucket 3

If `val = 5`, the `if` block evaluates each condition as false, and nothing is printed. To fix the problem, revise the code block to be the following.

In [16]:
val = 5
if (-10 < val < -5):
    print('bucket 1')
elif (-5 <= val < -2):
    print('bucket 2')
elif val == -2:
    print('bucket 3')
else:
    print('bucket 4')

bucket 4

## Example 3.2

Write code that does the following:
* Define a list of integers `xx = [-2, 8, 0, 5, 6]`.
* Compute the maximum, storing in `max_val`.
* For each value in the list, do the following.
    * If the value is less than the maximum, print the value.
    * Otherwise, print the string `max_val`.

In [22]:
xx = [-2, 8, 0, 5, 6]
max_val = max(xx)
for value in xx:
    if value < max_val:
        print(value)
    else:
        print('max_val')
print()

for value in xx:
    print(value) if value < max_val else print('max_val')
print()

_ = [print(value) for value in xx if value < max_val]

-2
max_val
0
5
6

-2
max_val
0
5
6

-2
0
5
6

## Example 3.3

Write code that does the following:
* Set a variable `it` to 0.
* Set a variable `max_iter` to 100.
* While `it < max_iter`, do the following.
    * If `it = 0` or `it` is divisible by 10, print `it`.
    * Increase `it` by 1.

When `it >= max_iter`, the program should quit.

In [27]:
it = 0
max_iter = 100
while it < max_iter:
    if it % 10 == 0:
        print(it)
    it += 1
print()

_ = [print(it) for it in range(0, 100) if it % 10 == 0]

0
10
20
30
40
50
60
70
80
90

0
10
20
30
40
50
60
70
80
90

## Example 3.4

Create a list of strings where each string contains a mix of uppercase and lowercase letters (e.g., a list of four proper names).
For each string, do the following.
* Lowercase the string.
* Print the string.

In [28]:
names = ['John', 'Paul', 'George', 'Ringo']
for name in names:
    print(name.lower())

john
paul
george
ringo

In [29]:
_ = [print(name.lower()) for name in names]

john
paul
george
ringo

## Example 3.5

Using the list you made in Example 3.4, use `iter()` and `next()` to iterate over the list, printing each string.

In [30]:
beatles = iter(names)
print(next(beatles))
print(next(beatles))
print(next(beatles))
print(next(beatles))
print()

beatles = iter(names)
_ = [print(name) for name in names]

John
Paul
George
Ringo

John
Paul
George
Ringo

## Example 3.6

Create a dictionary. Using `items()`, print each key-value pair.

In [32]:
cities_and_zip_codes = {'Santa Barbara': 93103, 'Charlottesville': 22903}
for (city, zip_code) in cities_and_zip_codes.items():
    print(city, zip_code)
print()

_ = [print(city, zip_code) for city, zip_code in cities_and_zip_codes.items()]

Santa Barbara 93103
Charlottesville 22903

Santa Barbara 93103
Charlottesville 22903

## Example 3.7

Using the dictionary from Example 3.7 and `keys()`, print each key-value pair.

In [34]:
for city in cities_and_zip_codes.keys():
    print(city, cities_and_zip_codes[city])
print()

_ = [print(city, zip_code) for city in cities_and_zip_codes]

Santa Barbara 93103
Charlottesville 22903

Santa Barbara 22903
Charlottesville 22903

## Example 3.8

Write a list comprehension that takes a list of numeric values and returns a list of their cubes.

In [35]:
values = [1, 2, 3, 4]
cubes = [value ** 3 for value in values]
cubes

[1, 8, 27, 64]

## Example 3.9

Create a list of 7 strings that includes some numbers and some non-numbers. The numbers should be quoted (e.g., '12').
Write a list comprehension that takes the list and returns a list of number strings.

In [36]:
list_of_strings = ['99', 'red balloons', 'floating', 'in the', 'summer sky.', '16', 'candles']
list_of_number_strings = [string for string in list_of_strings if string.isdigit()]
list_of_number_strings

['99', '16']